<form #bioform="ngForm" (ngSubmit)="onSubmit(bioform)" sui-form>
  <h1 sui-header>RXJS Form</h1>
  <div suiFormField>
    <div suiFormFields suiWidth="two">
      <div suiFormField>
        <label>First Name</label>
        <input
          type="text"
          name="firstName"
          placeholder="First Name"
          ngModel
          #fname="ngModel"
          maxlength="30"
          minlength="3"
          [(ngModel)]="formDetails.firstName"
          required
        />
        <div [hidden]="!(!fname.valid && fname.touched)">
          <p class="ui pointing basic red label">
            Please Enter your First Name
          </p>
        </div>
      </div>
      <div class="field">
        <label>Last Name</label>
        <input
          type="text"
          name="lastName"
          placeholder="Last Name"
          ngModel
          required
          #lname="ngModel"
          maxlength="30"
          minlength="3"
          [(ngModel)]="formDetails.lastName"
        />
        <div [hidden]="!(!lname.valid && lname.touched)">
          <p class="ui pointing basic red label">Please Enter your Last Name</p>
        </div>
      </div>
    </div>
  </div>
  <div suiFormField>
    <label>Contact Details</label>
    <div class="fields">
      <div suiFormField suiWidth="eight">
        <label>Email</label>
        <input
          type="text"
          name="email"
          #email="ngModel"
          required
          placeholder="example@example.com"
          [(ngModel)]="formDetails.email"
          ngModel
        />
        <div
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          [hidden]="!(!email.valid && email.touched)"
        >
          <p sui-label suiPointing="below" suiColour="red">
            Please Enter your Email
          </p>
        </div>
      </div>
      <div suiFormField suiWidth="eight">
        <label>Phone Number</label>
        <input
          type="text"
          name="phoneNumber"
          placeholder="+234 000 000 0000"
          ngModel
          required
          #pnumber="ngModel"
          [(ngModel)]="formDetails.phoneNumber"
        />
        <div [hidden]="!(!pnumber.valid && pnumber.touched)">
          <p sui-label suiPointing="below" suiColour="red">
            Please Enter your Phone Number
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Country</label>
      <sui-select
        name="country"
        ngModel
        [(ngModel)]="formDetails.country"
        suiPlaceholder="Select Country"
        [suiOptions]="countryNames"
      >
      </sui-select>
    </div>
    <div class="field">
      <label>Occupation</label>
      <sui-select
        name="occupation"
        ngModel
        [(ngModel)]="formDetails.occupation"
        suiPlaceholder="Select Occupation"
        [suiOptions]="occupations"
      >
      </sui-select>
    </div>
  </div>
  <div class="field">
    <label>Successful</label>
    <div class="two fields">
      <div class="field">
        <label>True</label>
        <input
          type="radio"
          name="isSuccessful"
          [value]="true"
          id="true"
          class="ui radio checkbox"
          ngModel
          [(ngModel)]="formDetails.isSuccessful.True"
        />
      </div>
      <div class="field">
        <label>False</label>
        <input
          type="radio"
          [value]="false"
          name="isSuccessful"
          id="false"
          class="ui radio checkbox"
          ngModel
          [(ngModel)]="formDetails.isSuccessful.False"
        />
      </div>
    </div>
  </div>
  <div class="field">
    <label>Test</label>
  </div>
  <button
    sui-button
    [suiLoading]="isLoading"
    tabindex="0"
    type="submit"
    [disabled]="!bioform.valid"
  >
    Submit
  </button>
</form>
