<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" sui-form>
  <h1 sui-header>RXJS Form</h1>
  <div suiFormField>
    <div suiFormFields suiWidth="two">
      <div suiFormField>
        <label>First Name</label>
        <input
          type="text"
          name="firstName"
          placeholder="First Name"
          formControlName="firstName"
          required
        />
        @if(registrationForm.get('firstName')?.invalid &&
        registrationForm.get('firstName')?.touched){
        <div>
          @if(registrationForm.get('firstName')?.errors?.['required']){
          <p class="ui pointing basic red label">
            Please Enter your First Name
          </p>
          }
        </div>
        }
      </div>
      <div class="field">
        <label>Last Name</label>
        <input
          type="text"
          name="lastName"
          placeholder="Last Name"
          formControlName="lastName"
          required
        />
        @if(registrationForm.get('lastName')?.invalid &&
        registrationForm.get('lastName')?.touched){
        <div>
          @if(registrationForm.get('lastName')?.errors?.['required']){
          <p class="ui pointing basic red label">Please Enter your Last Name</p>
          }
        </div>
        }
      </div>
    </div>
  </div>
  <div suiFormField>
    <label>Contact Details</label>
    <div class="fields">
      <div suiFormField suiWidth="eight">
        <label>Email</label>
        <input
          type="text"
          name="email"
          required
          placeholder="example@example.com"
          formControlName="email"
        />
        @if (registrationForm.get('email')?.invalid &&
        registrationForm.get('email')?.touched) {
        <div>
          @if (registrationForm.get('email')?.errors?.['required']) {
          <p sui-label suiPointing="above" suiColour="red">
            Please Enter your Email
          </p>
          } @if (registrationForm.get('email')?.errors?.['email']) {
          <p sui-label suiPointing="above" suiColour="red">
            Invalid Email Entered
          </p>
          }
        </div>
        }
      </div>
      <div suiFormField suiWidth="eight">
        <label>Phone Number</label>
        <input
          type="text"
          name="phoneNumber"
          placeholder="+234 000 000 0000"
          formControlName="phoneNumber"
          required
        />
        @if (registrationForm.get('phoneNumber')?.invalid &&
        registrationForm.get('phoneNumber')?.touched) {
        <div>
          @if (registrationForm.get('phoneNumber')?.errors?.['required']) {
          <p sui-label suiPointing="above" suiColour="red">
            Please Enter your Phone Number
          </p>
          }
        </div>
        }
      </div>
    </div>
  </div>
  <div suiFormField>
    <label>Password</label>
    <input
      type="password"
      name="password"
      required
      placeholder="****"
      formControlName="password"
    />
    <p>error {{ registrationForm.get("password")?.errors }}</p>
    @if (registrationForm.get('password')?.invalid &&
    registrationForm.get('password')?.touched) {
    <div>
      @if (registrationForm.get('password')?.errors?.['required']) {
      <p sui-label suiPointing="above" suiColour="red">
        Please Enter your Email
      </p>
      } @if (registrationForm.get('password')?.errors?.['invalidPassword']) {
      <p sui-label suiPointing="above" suiColour="red">
        Invalid Password Entered
      </p>
      }
    </div>
    }
  </div>
  <div class="two fields">
    <div class="field">
      <label>Country</label>
      <sui-select
        name="country"
        formControlName="country"
        suiPlaceholder="Select Country"
        [suiOptions]="countryNames"
      />
    </div>
    <div class="field">
      <label>Occupation</label>
      <sui-select
        name="occupation"
        formControlName="occupation"
        suiPlaceholder="Select Occupation"
        [suiOptions]="occupations"
      />
    </div>
  </div>
  <div class="field">
    <label>Successful</label>
    <div class="two fields">
      <div class="field">
        <label>True</label>
        <input
          type="radio"
          name="isSuccessful"
          formControlName="isSuccessful"
          id="true"
          [value]="registrationForm.get('isSuccessful')?.value"
          class="ui radio checkbox"
        />
      </div>
      <div class="field">
        <label>False</label>
        <input
          type="radio"
          formControlName="isSuccessful"
          name="isSuccessful"
          [value]="!registrationForm.get('isSuccessful')?.value"
          id="false"
          class="ui radio checkbox"
        />
      </div>
    </div>
  </div>
  <div class="field">
    <label>{{ registrationForm.invalid }}</label>
  </div>
  <button
    sui-button
    [suiLoading]="isLoading"
    tabindex="0"
    type="submit"
    [disabled]="registrationForm.invalid"
  >
    Submit
  </button>
</form>
